.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto
}

.btn {
    background-color: #BC8F8F;
    color: white;
    padding: 10px;
    font-size: 10px;
    cursor: pointer;
    display: block;
    margin: 0 auto
}

.centered-table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
}

.centered-table, .centered-table th, .centered-table td {
  border: 1px solid black;
}

.centered-table th, .centered-table td {
  padding: 15px;
  text-align: center;
}
